<strong> Olá, {{ user }} </strong>
<p> Houve um cancelamento de escrição. Confira os detalhes abaixo:</p>
<p>
  <strong> Meetup: </strong> {{ titulo }} <br />
  <strong> Data/Hora: </strong> {{ date }} <br />
  <strong> Local: </strong> {{ local }} <br />
  <br />
  <small>
    Você pode se inscrever em novas meetups nesse horário novamente
  </small>
</p>
